/ {
    aliases {
        i2c1 = &i2c2;
        uart1 = &usart1;
    };
};

&i2c2 {
    status = "okay";
    clock-frequency = <100000>;  // 100 kHz
    bme280@77 {
        compatible = "bosch,bme280";
        reg = <0x77>;
    };
};

&usart1 {
    status = "okay";
    current-speed = <115200>;
};
